@import url("roboto.css");

body {
	font-family: "Roboto";
}
.slick-home .slick-slide {
    height: 500px;
}
.slick-home h1, slick-home h4 {
	font-family: "Roboto";
	color: #fff;
	text-shadow: 0 0 4px #000;
}
.cover{
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
}
.container {
	max-width: 100%;
}